<div  class="alert alert-danger alert-dismissible fade show frubric-error-when-saving" role="alert" hidden>
  {{#str}}frubricdefinitionincomplete, gradingform_frubric{{/str}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>