{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
This template displays the rubric filled with the result given to a particular student in the assing/view page
}}

<div class="graded-form">
    <span class = 'frubric-show-hide-levels'><i class="fa fa-eye" aria-hidden="true" title = "Hide levels"></i></span>
    {{#criteria}}
    <table class="criteria-table table-light ">
        <thead>
            <tr>
                <th>

                    <p>{{description}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{#levels}}
                    <table class="inner-level-table">
                        {{#level}}
                        <tr>
                            <td class = "frubric-score-column">
                                <p>{{score}}</p>
                            </td>
                            <td>
                                {{#descriptors}}
                                <label class="frubric-evaluated-checkbox">
                                    <input disabled type="checkbox" id ="{{idinput}}" name = "{{nameinput}}" {{#checked}} value = "1" checked = "checked"{{/checked}} {{^checked}} value = "1" {{/checked}} class ='frubric-evaluated-checkbox' > {{descText}} <br>
                                    <span class="checkmark"></span>
                                </label>
                                {{/descriptors}}
                            </td>
                        </tr>
                        {{/level}}
                        <tr>
                            <td>
                                <p><strong>{{descriptiontotal}}</strong> </p>
                            </td>
                            <td>
                                <strong><span> {{levelscore}}/{{totaloutof}}</span></strong>
                            </td>
                        </tr>
                        {{^disablecomment}}
                        <tr>
                            <td>
                                <p><strong>{{descriptiontotal}} FEEDBACK:</strong></p>
                            </td>
                            <td>
                                <p disabled>{{feedback}}</p>
                            </td>
                        </tr>
                        {{/disablecomment}}
                    </table>
                    {{/levels}}
                </td>
            </tr>
        </tbody>
    </table>
    {{/criteria}}
</div>
