<div class = "regrade-container" hidden>
    <span class = "regrade_confirm">
         {{#str}}regrademessage5, gradingform_frubric{{/str}}
    </span>
    <select name="regrade-options" id="regradeOptions">
        <option value="0"> {{#str}}regradeoption0, gradingform_frubric{{/str}}</option>
        <option value="1"> {{#str}}regradeoption1, gradingform_frubric{{/str}}</option>
    </select>
</div>