{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.

@package gradingform_frubric
@copyright 2021 Veronica Bermegui
@license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

<div class="form-group" name = 'frubricdefinition'>

    <!-- the container to add the TABLE -->
    <div id = "cont" data-definition-id = "{{definitionid}}">

        {{^edit}}
            {{#criteria}} 
                <table id="criteriaTable" data-type="level" >
                    {{> gradingform_frubric/editor_criterion_row}}
                </table>
                <br>
            {{/criteria}}

        {{/edit}}
        
        {{#edit}} 
            {{> gradingform_frubric/editor_editable}}
        {{/edit}}
        <br>
        <p>
            <input type="button" id="addCriterion" value="Add Criterion" class = "btn btn-secondary"/>
        </p>
    </div>

</div>


{{#js}}
require(['gradingform_frubric/feditor'],
    function(Feditor) {
        Feditor.init();
    });
{{/js}}
